.app_and {
    height: 100px;
    width: 256px;
}

.app_ios {
    height: 100px;
    width: 210px;
}

.title {
    font-family: times;
    
    

}

.text {
    font-family: arial; 
}



.wrapper style2 special {
    color: aliceblue;
}
