.app_and {
    height: 66px;
    width: 210px;
}

.app_ios {
    height: 66px;
    width: 210px;
}

.title {
    font-family: times;



}

.text {
    font-family: arial;
}



.wrapper style2 special {
    color: aliceblue;
}
